.container {
    height: 100%;
    background-color: rgb(213, 213, 213);
    display: grid;
}

.loginContainer {
    margin: auto;
    padding: 30px;
    width: 500px;
    background-color: white;
    box-shadow: 2px 2px 64px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 5s;
    rotate: 0deg;
}

.loginTitle {
    font-size: 2rem;
    font-family: sans-serif;
    color: #12121e;
}

.buttonLogin {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: solid 1px white;
    background-color: #12121e;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.buttonLogin:hover {
    background: white;
    color: #12121e;
    border: solid 1px #12121e;
    transition: 0.5s;
}

.buttonSignup {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: solid 1px grey;
    background-color: white;
    color: #12121e;
    cursor: pointer;
    transition: 0.5s;
}

.buttonSignup:hover {
    background: grey;
    color: #12121e;
    border: solid 1px #12121e;
    transition: 0.5s;
}
