.padding{
    padding: 50px;
    display: flex;
    text-align: center;
}

.bold{
    font-weight: bold;
    color:  black;
}

.button{
    background-color: #316a35;
    color: white;
    margin: 5px;
    border: 1px solid black;
}

.button:hover{
    color: black;
}