.helloMessage {
  display: flex;
  justify-content: right;
  align-items: center;
  color: #000000;
}

.itemasInfo {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #000000;
}

.aaa{
  background-color: white;
}